/* ----- External fonts  ----- */

@font-face {
	font-family: "Open Sans";
	src: url(../fonts/OpenSans-Regular.ttf);
	font-weight: normal;
}

@font-face {
	font-family: "Open Sans Light";
	src: url(../fonts/OpenSans-Light.ttf);
	font-weight: lighter;
}

@font-face {
	font-family: "Gilroy Light";
	src: url(../fonts/Gilroy-Light.ttf);
	font-weight: lighter;
}

@font-face {
	font-family: "Gilroy ExtraBold";
	src: url(../fonts/Gilroy-Extrabold.ttf);
	font-weight: bolder;
}

/* ----- Basic styles ----- */

body {
	font: normal 15px/2em "Open Sans Light", Arial, sans-serif;
	color: #000;
}

a {
	text-decoration: none;
}

h1,
.logo {
	font: bold 48px/1em "Gilroy ExtraBold", Arial, sans-serif;
	color: inherit;
}

/* ----- Custom styles ----- */

.catalog-title {
	font-size: 47px;
}